.equation {
	display: flex;
	align-items: center;
	font-size: 20px;

	font-family: monospace;

	& + & {
		margin-top: 10px;
	}

	span {
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
	}
}
